{{#each dish}}
<li class="menu__item">
    <article class="card">
        <img class = 'card__image' src="{{this.image}}" alt={{this.name}}>
        <div class="card__content">
        <h2 class="card__name">{{this.name}}</h2>
        
        <p class="card__price">
            <i class="material-icons">monetization_on</i>
            {{this.price}} кредитов
        </p>
        <p class="card__descr">{{this.description}}</p>
        <p class="tag-list"></p>
    </article>




</div>    
</li>
{{/each}}